.world {
    background: #7C4EFF;
}

.politics {
    background: #419488;
}

.business {
    background: #4696EC;
}

.technology {
    background: #CEDC39;
}

.sports {
    background: #F6C244;
}

.other {
    background: #6E757C;
}